

@import "mixin";
//Fichier scss qui touche uniquement aux divs des parties du corps humain.
#humanBody{
    padding-top: 2%;
    transform: translate(-50%);
    position: relative;
    left: 50%;
  
  }
  
  #Epaule{
    @include Ray ();
    left: 47%;
    top: 25%;
    
  }
  
  #Main{
    @include Ray ();
    left: 47%;
    top: 45%;
  }
  