//Fichier css qui hebergera les mixin, on les importes ensuite sur nos différents fichiers scss.

@mixin Ray (){
    position: absolute;
    width: 3vw;
    border-radius: 50%;
    height:3vw;
    background-color: grey;
    transform: translate(-50%);
    
  }
  